.panel-codigo-secreto {
  width: 150px;
  background-color: #242424;
}
.display {
  height: 50px;
  font-size: 2rem;
  font-style: italic;
  color: #34e89e;
  text-align: right;
}

.fila-teclas {
  display: flex;
}
.tecla {
background-color: transparent;
    color: #34e89e;
    border: 1px solid #34e89e;
    width: 100%;
    height: 50px;
    cursor: pointer;
}
.tecla:hover {
  opacity: 0.6;
}